div{
   color: white;
 
   padding-right: 40px;
   margin-bottom: 40px;
   padding: 60px;
   border-radius: 30px;

}
*{
    background-color: rgb(16, 177, 169);
    padding: 0%px;
    margin: 0px;
}
